<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="input.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="image">

      <div class="home">

        <div class="logo"> LMS </div>
        <div class="login">
          <h1><span style="color:#6C63FF">User</span> Registration</h1>

          <form class="form">
            <div class="input-group">
              <div class="material-textfield">
                <input placeholder=" " type="text" />
                <label>First Name</label>
              </div>
              <div class="material-textfield">
                <input placeholder=" " type="text" />
                <label>Last Name</label>
              </div>
              <div class="material-textfield">
                <input placeholder=" " type="text" />
                <label>Email</label>
              </div>
            </div>

            <div class="input-group">
              <div class="material-textfield">
                <input placeholder=" " type="number" />
                <label>Phone Number</label>
              </div>
              <div class="material-textfield">
                <input placeholder=" " type="text" />
                <label>Occupation</label>
              </div>
              <div class="material-textfield">
                <input placeholder=" " type="text" />
                <label>Address</label>
              </div>
            </div>


            <div class="input-group">
<div class="material-textfield">
                <input placeholder=" " type="password" />
                <label>Password</label>
              </div>
              <div class="material-textfield">
                <input placeholder=" " type="text" />
                <label>Re-enter password</label>
              </div>
            </div>
          </form>
          <button class="btn">Register</button>
          <div class="acc">
            <a href="#">Already have an account?</a>
          </div>
        </div>
        <a href="#" class="admin-login">Admin Login Page</a>


      </div>
    </div>
  </body>

</html>