
.image {
    background: #6C63FF;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%
}

.home {
    background: #6C63FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.logo {
    font-size: 2.5rem;
    color: white;
    /* font-family: Raleway; */
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    
}


.login {
    width: 80%;
    margin: 2rem auto;
    border-radius: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.1);
    max-width: 70.75rem;
    padding: 3rem;
    text-align: center;
}

.login h1 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 33px;
    margin: 0;
}


.login form {
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
}

.btn {
    background: linear-gradient(180deg, #518CFF 0%, #3919B8 100%);
    border-radius: 4px;
    width: 28.8125rem;
    height: 3.6rem;
}

